<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881038012705-vasglatu1dedfaqoqqgdtmk0vt0d7g1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881038012705-vasglatu1dedfaqoqqgdtmk0vt0d7g1j</string>
	<key>API_KEY</key>
	<string>AIzaSyC9mhckm87JaviKjv3mDxoqejW3oAYtmF4</string>
	<key>GCM_SENDER_ID</key>
	<string>881038012705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prabh.DisplayVideos</string>
	<key>PROJECT_ID</key>
	<string>displayvideos-31844</string>
	<key>STORAGE_BUCKET</key>
	<string>displayvideos-31844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881038012705:ios:7922f306dc98c765e80e60</string>
	<key>DATABASE_URL</key>
	<string>https://displayvideos-31844.firebaseio.com</string>
</dict>
</plist>